.img-wrapper{
    width: 200px;
    height: 125px;
}

.img-wrapper > img{
    max-width: 100%;
    max-height: 100%;
}

td{
    padding: 10px;
}

.sum, .price{
    text-align: center;
    vertical-align: top;
}

.bottom{
    text-align: center;
    vertical-align: bottom;
}

.name{
    width: 290px
}

.sum{
    width: 100px;
}


@media screen and (max-width:580px){
    td{
        display:block;
        width: fit-content;
        margin: auto;
    }
    .sum-title{
        display: none;
    }
}