.wrapper{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #444444;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: #797979 0px 0px 10px;
}

.wrapper > form > div{
    margin: auto;
    padding: 5px;
}

.wrapper > *{
    padding: 15px;
}