.content {
    min-height: calc(100vh - 145px);
}

.product{
/*    width: 25%;*/
/*    margin: 4%;*/
    display: inline-block;
/*    text-align: center;*/
}

.products-filter{
    padding-left: 15px;
}

.row{
    width: 100%;
}

nav > a{
    margin: 5px;
}

.pages{
    width: fit-content;
    max-width: 80%;
    margin: auto;
}

.pages > a > *{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid gray;
    text-align: center;
    margin: 10px;
}

.pages > *:hover{
    border-color: black;
}

.pages > a > .active-product-page{
    border-color: black;
}

.img-wrapper{

    height: 170px;
    overflow: hidden;
    margin-bottom: 5px;
}

.img-wrapper > img{
    max-height: 100%;
    max-width: 100%;
}

.name-wrapper{
    font-size: medium;
    font-weight: bold;
    height: 60px;
    overflow: hidden;
}

.desc-wrapper{
    height: 100px;
    overflow: hidden;
}

.cost-wrapper{
    height: 30px;
    overflow: hidden;
}

.one-product{
    padding: 20px;
}

.one-product .product-name{
    font-size: large;
    font-weight: bold;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

@media only screen and (max-device-width: 992px){
    nav.navbar .dropdown:hover .dropdown-menu{
        display: none;
    }
}

.error{
    color: red;
}

input[type='range']{
    max-width: 200px;
}